#blog-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    gap:30px
}

.faceImg{
    height: 200px;
    border-radius: 50%;
    width: 160px;
}

.blogContainer{
    /* border: 1px solid; */
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.innerBlogContent{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.innerBlogContent  h4{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.innerBlogContent h5{
    margin-top: 50px;
}

.blogContainer:hover{
    transform: Scale(1.1,1.1);
}

